<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Info</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>
    span {
        font-size: 20px;
    }

    .green {
        color: green;

    }
</style>

<body>
    <div class="container-fluid">
        <h3>Basic infomation</h3>


        <form action="/search" method="post">

            <input type="text" class="form-control" name="search_query">
            <input type="submit" class="btn btn-success m-3" value="search">

        </form>

        <div class="container-fluid">
            <span>^ <span class="green">indicate fname</span></span>
            <span>& <span class="green">indicate lname</span></span>
            <span>_ <span class="green">indicate email</span></span>
            <span>~ <span class="green">indicate phone</span></span>
            <span>% <span class="green">indicate designation</span></span>
        </div>

        <% if(data.length==0) {%>
            <center><h3>Data Not Found</h3></center>    
        <%}else{%>

            <table border="1" class="table table-success table-striped-columns">
                <tr>
                    <th>candidate_id</th>
                    <th>fname</th>
                    <th>lname</th>
                    <th>designation</th>
                    <th>dob</th>
                    <th>zcode</th>
                    <th>gender</th>
                    <th>pref_location</th>
                    <th>expacted_ctc</th>
                    <th>email</th>
                    <th>current_ctc</th>
                    <th>department</th>
                    <th>notice_period</th>
                    <th>address</th>
                    <th>city</th>
                    <th>createdAt</th>
                    <th>phone</th>
                    <th>state</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
                <% for(let i=0;i< data.length;i++){%>
                    <tr>
                        <% for(let j=0;j<id.length;j++) {%>
                            <td>
                                <%= data[i][id[j]] %>
                            </td>
                            <%}%>
                                <td>
                                    <a href="/more/?id=<%= data[i].candidate_id %>">More</a>
                                </td>
                                <td>
                                    <a href="#">Edit</a>
                                </td>
                    </tr>
                    <%}%>
            </table>
        <%}%>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</html>